<% provide(:title, "Home") %>
<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | Nubz</title>
  </head>
  <body>
		<h1>Nubz</h1>
		<p>Cafe and Pub, sector-26, chandigarh</p>
	</body>
</html>
	
